@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    color: #172b4d;
    /*background-color: rgb(0, 121, 191);*/
    height: 100%;
    padding: 0;
    margin: 0;
    /*@apply #285C8D*/
    @apply bg-gradient-to-b from-[#285C8D] to-[rgb(0,121,191)]
}

.mentionsinput__input {
    @apply border-0 focus:border-0 focus:ring-0 rounded-box
}

.atMention {
    @apply bg-neutral-200 py-0.5 px-1 rounded-2xl text-sm !no-underline !font-normal
}

.column-fref {
    @apply max-h-[calc(100vh-9rem)] overflow-auto min-h-[28px]
}

.save-btn {
    @apply bg-blue-btn py-1 px-2  hover:bg-dark-blue-btn text-white rounded text-sm
}

.cancel-btn {
    @apply text-neutral-500 py-1 px-2 hover:bg-neutral-200 hover:text-neutral-700 text-sm rounded
}

.prose a:not(.atMention){
    @apply !text-blue-800 font-normal
}
.prose a:hover{
    @apply !text-neutral-800 font-normal
}
/*ul {*/
/*    @apply pl-8 list-disc my-1*/
/*}*/

/*ol {*/
/*    @apply pl-8 list-decimal py-1*/
/*}*/

/*.markdown p {*/
/*    @apply mb-3*/
/*}*/

/*.card-modal a:not(.atMention) {*/
/*    @apply text-blue-700 underline*/
/*}*/

/*.card-modal a:hover {*/
/*    @apply text-neutral-800*/
/*}*/

.bg-archive-warning {
    background-color: #FDFAE5;
    background-image: linear-gradient(to bottom right, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 25%, transparent 25%, transparent 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 50%, var(--ds-background-neutral, rgba(0, 0, 0, 0.05)) 75%, transparent 75%, transparent);
    background-size: 14px 14px;
}

input[type=checkbox] {
    @apply shrink-0 mt-0.5
    border-neutral-300
    border
    bg-white
    rounded
    focus:ring-0
    h-4 w-4
        /*hover:bg-neutral-300*/
    disabled:hover:cursor-not-allowed
}

.p-mention-panel {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    @apply bg-white shadow-lg p-2 w-80 !max-h-[90vh]
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #bdbdbd #ebecf0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ebecf0;
}

*::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 3px solid #ebecf0;
}
